.metabox {
	&__tab {
		border: 1px solid #ccc;
		padding: 8px;
		margin-bottom: 15px;
	}

	&__label {
		display: block;
	}

	&__tab-inner {
		display: none;
	}

	input:checked ~ &__tab-inner {
		display: block;
	}

	textarea {
		display: block;
		width: 500px;
		max-width: 100%;
	}
}

.tech__table {
	display: none;
}

input:checked ~ .tech__table {
	display: block;
}

.install-div {
	display: none;
}

input:checked ~ .install-div {
	display: block;
}