@font-face {
	font-family: 'Pragmatica Book';
	src: url(fonts/pragmatica-book-light.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Pragmatica Book';
	src: url(fonts/pragmatica-book-regular.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Pragmatica Book';
	src: url(fonts/pragmatica-book-medium.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

button,
a {
	outline: none;
}

body {
	margin: 0;
}

a {
	color: #f00;
}

a.black {
	color: #000;
	text-decoration: none;
	line-height: 1.4;

	&:hover {
		text-decoration: underline;
	}
}
span.space {
	display: inline-block;
	height: 1px;
	width: 12px;
}

img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin: auto;
}

.h1 {
	font-size: 24px;
	font-family: Pragmatica Book;
	font-weight: 500;
	text-transform: uppercase;
	padding: 88px 15px;
	margin: 0 auto;
	max-width: 1200px;

	&_catalog {
		padding-top: 77px;
		padding-bottom: 67px;
	}

	&_partners {
		padding-bottom: 54px;
	}

	@media (max-width: 1000px) {
		padding: 48px 15px;
	}

	@media (max-width: 767px) {
		&_mobile-hide {
			display: none;
		}
	}
}

#wrapper {
	&.adaptive_show {
		transform: translateX(250px);
	}
}

.arrow-before:before,
.arrow-after:after {
	content: '';
	display: inline-block;
	width: 5px;
	height: 5px;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #000;
	transform: rotate(45deg);
	vertical-align: middle;
	// position: relative;
	// top: -1px;
}

.arrow-before:before {
	margin-right: 7px;
}

.arrow-after:after {
	margin-left: 5px;
}

.arrow-open:before,
.arrow-open:after {
	transform: rotate(135deg);
}

.link-no-decorate {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.link-border {
	color: #000;
	display: block;
	width: 370px;
	max-width: 100%;
	border: 2px solid #000;
	text-align: center;
	height: 54px;
	line-height: 50px;
	text-decoration: none;
	font-size: 14px;
	font-family: Pragmatica Book;
	text-transform: uppercase;
	padding-top: 1px;

	&:before {
		content: '';
		display: inline-block;
		vertical-align: top;
		width: 30px;
		height: 50px;
		background-repeat: no-repeat, no-repeat;
		background-position: 50% 48%, 50% -100%;
		margin-right: 4px;
	}

	&:hover {
		border-color: #f00;
		color: #f00;
	}

	&:hover:before {
		background-position: 50% -100%, 50% 48%;
	}

	&_projects:before {
		background-image: url(imgs/projects-icon-black.png), url(imgs/projects-icon-red.png);
	}

	&_news {
		transform: translateY(-1px);
	}

	&_news:before {
		background-image: url(imgs/news-icon-black.png), url(imgs/news-icon-red.png);
	}

	&_partner:before {
		background-image: url(imgs/partner-icon-black.png), url(imgs/partner-icon-red.png);
	}

	&__cont {
		max-width: 1200px;
		padding: 0 15px;
		margin: 46px auto 100px;

		&_project {
			margin-top: -12px;
		}
	}

	@media (max-width: 767px) {
		&__cont_projects {
			margin-top: -40px;
			margin-bottom: 30px;
		}
	}
}

.preview {
	padding: 0 15px;
	flex-basis: 33.33%;
	margin-bottom: 30px;

	&__edit {
		width: 30px;
		height: 30px;
		display: inline-block;
		background: url(imgs/edit-icon.png) no-repeat 50% 50%;
		position: absolute;
		top: 0;
		right: 0;
		background-size: 100% auto;
		z-index: 2;
	}

	&_information {
		display: flex;
		padding: 0;
		border-bottom: 1px solid #666;
		padding-bottom: 66px;
		margin-bottom: 50px;
		height: 251px;
	}

	&_product-category {
		padding: 0;
		flex-basis: 50%;

		&:nth-child(odd) {
			margin-right: 30px;
		}
	}

	&_project &__title {
		margin-top: 24px;
		margin-bottom: 24px;
	}

	&_project &__more {
		margin-top: 5px;
	}

	&_product-main {
		flex-basis: 50%;
	}

	&_product-category:hover &__title-img_product-category {
		bottom: 47px;
	}

	&_product-category:hover &__more_product-category {
		display: block;
	}

	&-cont {
		display: flex;
		flex-wrap: wrap;
		max-width: 1200px;
		margin: auto;
		padding: 15px 0;
	}

	&__inner {
		position: relative;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding-bottom: 59.46%;
		display: block;
		overflow: hidden;
	}

	&__inner_product-category:after {
		content: '';
		position: absolute;
		height: 30%;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4), transparent);
	}

	/*&__inner_project-category {
		position: relative;
		
		&:after {
			content: '';
			position: absolute;
			height: 30%;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4), transparent);
		}
	}*/

	&__inner_project-category:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.15);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-image: url(imgs/zoom.png);
		display: none;
	}

	&__inner_project-category:hover:after {
		display: block;
	}

	&__inner_product:after {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 30%;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4), transparent);
	}

	&__inner_product:hover > &__link-product {
		display: block;
	}

	&__inner_product:hover > &__title-img {
		bottom: 50px;
	}

	&__inner_information {
		flex-shrink: 0;
		width: 270px;
		height: 184px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		padding-bottom: 0;
	}

	&__title-img {
		position: absolute;
		padding: 33px;
		font-size: 16px;
		font-family: Pragmatica Book;
		font-weight: 500;
		text-transform: uppercase;
		right: 0;
		bottom: 0;
		left: 0;
		color: #fff;
		z-index: 1;

		&_product-category {
			bottom: 0;
		}
	}

	&__image {
		display: block;
		width: 100%;
		height: auto;
	}

	&__desc {
		overflow: hidden;
		font-family: Pragmatica Book;
		font-size: 14px;

		&_news {
			background-color: #fff;
			padding-right: 18px;
			padding-left: 18px;
		}
	}

	&__desc_information {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 30px;
	}

	&__title {
		font-size: 16px;
		line-height: 17px;
		font-family: Pragmatica Book;
		margin: 48px 0 26px;
		color: #000;
		font-weight: 500;
		text-transform: uppercase;
	}

	&__title_information {
		margin-top: 0;
		flex-shrink: 0;
	}

	&__about {
		font-size: 14px;
		line-height: 20px;
		color: #000;
		font-family: Pragmatica Book;
		margin: 0;
		position: relative;
		height: 80px;
		overflow: hidden;
		
		&:after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			height: 15px;
		}
	}

	&__about_information {
		overflow: hidden;
	}

	&__link-product {
		font-size: 14px;
		text-decoration: none;
		position: absolute;
		line-height: 36px;
		padding: 0 20px;
		background-color: #f00;
		color: #fff;
		font-family: Pragmatica Book;
		font-weight: 500;
		bottom: 21px;
		left: 30px;
		z-index: 1;
		display: none;

		&:before {
			content: '';
			display: inline-block;
			width: 19px;
			height: 15px;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-image: url(imgs/catalog-icon-white.png);
			position: relative;
			bottom: -2px;
			margin-right: .2em;
		}
	}

	&_touch &__link-product {
		display: block;
	}

	&_touch &__title-img {
		bottom: 50px;
	}

	&_touch&_project-category &__title-img {
		bottom: 0;
	}

	&__more {
		text-decoration: none;
		background-color: #f00;
		color: #fff;
		height: 36px;
		line-height: 36px;
		display: inline-block;
		width: 140px;
		text-align: center;
		font-size: 14px;
		font-family: Pragmatica Book;
		text-transform: uppercase;
		margin-top: 30px;
		margin-bottom: 76px;

		&:after {
			content: '>';
			padding-left: .2em;
		}

		&:hover {
			background-color: #000;
		}
	}

	&__more_information {
		margin-top: 27px;
		margin-bottom: 0;
		flex-shrink: 0;
	}

	&__more_product-category {
		margin: 0;
		position: absolute;
		bottom: 22px;
		left: 34px;
		z-index: 1;
		display: none;
	}

	&-wide {
		justify-content: space-between;
	}

	&-wide & {
		margin-right: 0;
		flex-basis: 48%;
	}

	&-narrow {
		margin: 0 -15px;
	}

	&-narrow & {
		margin-right: 0;
		flex-basis: 33.33%;
		padding: 0 15px;
	}

	&__cat {
		font-size: 14px;
	}

	&-product-main &__title-img {
		padding: 20px;
	}

	&-product-main &__link-product {
		left: 20px;
		bottom: 20px;
	}

	@media (max-width: 1100px) {
		&-narrow & {
			flex-basis: 50%;
		}
	}

	@media (max-width: 1000px) {
		flex-basis: 50%;
	}

	@media (max-width: 767px) {
		&__inner_product:hover > &__link-product {
			display: none;
		}

		&__inner_product:hover > &__title-img {
			bottom: 0;
		}

		&_product-category:hover &__title-img_product-category {
			bottom: 0;
		}

		&_product-category:hover &__more_product-category {
			display: none;
		}
	}

	@media (max-width: 700px) {
		flex-basis: 100%;


		&_product-category:nth-child(odd) {
			margin-right: 0;
		}

		&_information {
			display: block;
			height: auto;
		}

		&__inner_information {
			padding-bottom: 0;
		}

		&__title_information {
			margin-top: 26px;
		}

		&__desc_information {
			margin-left: 0;
			height: 251px;
		}
	}

	@media (max-width: 650px) {
		&-wide & {
			flex-basis: 100%;
		}
	}

	@media (max-width: 500px) {
		&-narrow & {
			flex-basis: 100%;
		}
	}
}

.button-red {
	color: #fff;
	background-color: #f00;
	font-size: 14px;
	text-transform: uppercase;
	border: none;
	font-family: Pragmatica Book;
	line-height: 36px;
	padding: 0 17px;
	cursor: pointer;
}

.button-border {
	border: 2px solid #000;
	padding: 0;
	background-color: transparent;
	font-size: 14px;
	font-family: Pragmatica Book;
	color: #000;
	line-height: 38px;
	max-width: 370px;
	width: 100%;
	margin-top: 55px;
	margin-bottom: 46px;
	font-weight: 500;
	cursor: pointer;

	&:hover {
		color: #f00;
		border-color: #f00;

		& > span:before {
			background-position: 50% -300%, 50% 48%;
		}
	}

	& > span {
		display: inline-block;
		vertical-align: top;
		margin-right: 5px;
	}

	& > span:before {
		content: '';
		display: inline-block;
		width: 30px;
		height: 38px;
		vertical-align: top;
		background-repeat: no-repeat, no-repeat;
		background-position: 50% 48%, 50% -300%;
	}

	&_question > span:before {
		background-image: url(imgs/question-black.png), url(imgs/question-red.png);
	}

	&_send > span:before {
		background-image: url(imgs/letter-black.png), url(imgs/letter-red.png);
	}

	&_question {
		display: block;
	}

	&_fill {
		margin-bottom: 0;
	}

	&_fill > span:before {
		background-image: url(imgs/fill-black.png), url(imgs/fill-red.png);
	}

	&:disabled {
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-image: url(imgs/loading.gif);
		border-color: transparent;
		cursor: default;

		& > span {
			opacity: 0;
		}
	}
}

.header {
	//display: none;
	&__white {
		background-color: #fff;
		position: relative;

		&-inner {
			max-width: 1200px;
			margin: auto;
			padding: 22px 15px 15px;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}
	}

	&__red {
		background-color: #f00;
		position: relative;

		&-inner {
			max-width: 1200px;
			margin: auto;
			padding: 0 30px;
			
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__logo {
		text-decoration: none;

		&-img {
			max-width: 134px;
		}

		&-text {
			margin-top: 34px;
			margin-left: 20px;
			max-width: 186px;
		}
	}

	&__contacts {
		display: flex;
		flex-wrap: wrap;
		padding: 6px 0 0 49px;
		background: url(imgs/phone-red.png) no-repeat 0 30px;
		max-width: 400px;

		&-header {

		}

		&-item {
			width: 154px;
			padding-right: 14px;
		}

		&-item + &-item {
			margin-left: 16px;
		}

		&-city {
			font-size: 14px;
			font-family: Pragmatica Book;
			color: #f00;
			text-transform: uppercase;
			padding-bottom: 5px;
		}

		&-price {
			width: 308px;
			text-align: center;

			& > a {
				margin-top: 8px;
				border: none;
				cursor: pointer;
				font-family: Pragmatica Book;
				text-transform: uppercase;
				font-weight: 500;
				height: 26px;
				font-size: 16px;
				color: #000;
				text-decoration: none;
				display: inline-block;

				&:hover {
					opacity: 0.7;
				}
			}
		}
	}

	&__contact {
		text-decoration: none;
		color: #000;
		font-size: 16px;
		font-family: Pragmatica Book;
		display: block;
		line-height: 18px;
		font-weight: 500;
		display: flex;
		justify-content: space-between;
		//transition: color .3s 0s;

		&:hover {
			color: #f00;
		}
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		list-style-type: none;

		/*& > li {
			position: relative;
		}*/

		& > li:hover .sub-menu {
			display: block;
		}

		& > .menu-item-has-children:hover:before {
			display: block;
		}

		& > .menu-item-has-children:before {
			content: '';
			position: absolute;
			top: 36px;
			right: 0;
			left: 0;
			height: 40px;
			background-color: #000;
			display: none;
			z-index: 2;
		}

		& .sub-menu {
			display: none;
			list-style-type: none;
			position: absolute;
			padding: 2px 0 0;
			white-space: nowrap;
			top: 34px;
			z-index: 2;

			& > li {
				display: inline-block;
				vertical-align: top;
				padding-right: 34px;

				& > a {
					font-size: 14px;
					color: #fff;
					text-decoration: none;
					font-weight: 500;
					text-transform: uppercase;
					font-family: Pragmatica Book;
					line-height: 40px;
					display: inline-block;
					//transition: color .3s 0s;

					&:hover {
						color: #f00;
					}
				}
			}
		}

		& > li > a {
			text-decoration: none;
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			font-family: Pragmatica Book;
			padding: 9px 60px 9px 0;
			font-weight: 500;
			display: inline-block;
			height: 36px;
			//transition: color .3s 0s;

			&:hover {
				color: #000;
			}
		}
	}

	&__show-search-button {
		border: none;
		background: url(imgs/search-white.png) no-repeat 50% 50%;
		width: 18px;
		height: 18px;
		padding: 0;
		cursor: pointer;
		flex-shrink: 0;
	}

	&__search {
		position: absolute;
		height: 40px;
		background-color: rgba(0, 0, 0, 0.9);
		display: flex;
		bottom: -40px;
		right: 0;

		&-cont {
			position: relative;
			width: 100%;
			max-width: 1170px;
			margin: auto;
			display: none;
			z-index: 1;
		}

		&-input {
			border: none;
			padding: 0 0 0 18px;
			background-color: transparent;
			color: #fff;
			line-height: 40px;
			font-family: Pragmatica Book;
			font-weight: 500;
			font-size: 14px;
			outline: none;
		}

		&-submit {
			width: 54px;
			height: 40px;
			border: none;
			padding: 0;
			background: url(imgs/arrow-right-white.png) no-repeat 50% 50%;
			cursor: pointer;
		}
	}

	&__menu-button {
		padding: 0;
		width: 22px;
		height: 12px;
		border-color: #000 transparent;
		border-width: 2px 0;
		border-style: solid;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 16px;
		margin: auto;
		display: none;

		& > span {
			width: 100%;
			height: 2px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			background-color: #000;
		}
	}

	@media (max-width: 1100px) {
		&__menu > li > a {
			padding-right: 45px;
		}
	}

	@media (max-width: 1000px) {
		&__red-inner {
			display: none;
		}

		&__white {
			padding-left: 50px;
		}

		&__menu-button {
			display: block;
		}
	}

	@media (max-width: 850px) {
		&__white {
			padding-right: 50px;
		}

		&__white-inner {
			display: block;
			text-align: center;
		}

		&__contacts {
			display: none;
		}
	}

	@media (max-width: 500px) {
		&__logo-text {
			display: none;
		}
	}
}

.previews {
	display: flex;
	margin: auto;
	flex-wrap: wrap;

	&-catalog {
		padding-bottom: 135px;
		//display: none;
	}

	&-projects {
		//display: none;
	}

	&-news {
		background-color: #F5F5F5;
		overflow: hidden;
		//display: none;
	}

	&-news-category {
		max-width: 1200px;
	}

	&-information-category {
		padding: 54px 0 100px;
	}

	&-product-category {
		display: flex;
		flex-wrap: wrap;
	}

	&-project-category {
		max-width: 1200px;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
	}

	&-product-main {
		display: flex;
		flex-wrap: wrap;
	}

	@media (max-width: 1000px) {
		&-information-category {
			padding-top: 0;
		}
	}

	@media (max-width: 767px) {
		&-news {
			display: none;
		}

		&-catalog {
			padding-bottom: 0;
		}

		&-projects {
			padding-top: 20px;
		}
	}
}

.advantages {
	background-color: #000;
	background-position: 50% 50%;
	background-image: url(imgs/background-advantages.png);
	//display: none;

	&__items {
		display: flex;
		max-width: 1200px;
		margin: auto;
		flex-wrap: wrap;
	}

	&__item {
		padding: 150px 26px 60px;
		flex-basis: 25%;
		background-repeat: no-repeat;

		&_prod {
			background-image: url(imgs/prod-red.png);
			background-position: 35px 57px;
		}

		&_qual {
			background-image: url(imgs/qual-red.png);
			background-position: 35px 56px;
		}

		&_fast {
			background-image: url(imgs/fast-red.png);
			background-position: 35px 53px;
		}

		&_deliv {
			background-image: url(imgs/deliv-red.png);
			background-position: 35px 62px;
		}

		&-title {
			font-size: 16px;
			font-family: Pragmatica Book;
			color: #fff;
			line-height: 1.2em;
			margin-bottom: 26px;
			text-transform: uppercase;
		}

		&-desc {
			font-size: 14px;
			font-family: Pragmatica Book;
			color: #fff;
			line-height: 1.4em;
		}
	}

	&__link {
		color: #f00;
		display: block;
		font-size: 16px;
		text-decoration: none;

		& > span {
			display: inline-block;
			border-width: 3px 0 3px 5px;
			border-style: solid;
			border-color: transparent transparent transparent #f00;
		}
	}

	@media (max-width: 1100px) {
		background-position: 0 50%;

		&__items {
			padding-bottom: 25px;
		}

		&__item {
			flex-basis: 50%;
			padding-bottom: 25px;
		}
	}

	@media (max-width: 600px) {
		&__item {
			flex-basis: 100%;
		}
	}
}

.partners {
	//display: none;

	&__items {
		max-width: 1200px;
		margin: 0 auto 70px;
		font-size: 0;

		& > img {
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);

			&:hover {
				-webkit-filter: grayscale(0%);
				filter: grayscale(0%);				
			}
		}
	}

	@media (max-width: 767px) {
		display: none;
	}
}

.slider {
	//display: none;
	overflow: hidden;
	white-space: nowrap;

	&__item {
		position: relative;
		display: inline-block;
	}

	&__item-inner {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		max-width: 1200px;
		margin: auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
		white-space: normal;
	}

	&__item-title-div {
		font-size: 42px;
		color: #fff;
		font-family: Pragmatica Book;
		text-transform: uppercase;
		line-height: 56px;

		& > span {
			background-color: #f00;
			padding: 0 29px;
		}
	}

	&__item-desc {
		background-color: rgba(0, 0, 0, 0.7);
		color: #fff;
		font-family: Pragmatica Book;
		font-size: 16px;
		padding: 29px;
		line-height: 25px;
		max-width: 420px;
		margin-top: 30px;
	}

	&__item-link {
		margin-bottom: 0;
		display: block;
	}

	&__img {
		max-width: 100%;
		height: auto;
		display: block;
	}

	&__control {
		position: relative;
		width: 1200px;
		margin: auto;

		& > ul {
			position: absolute;
			bottom: 40px;
			padding: 0;
			margin: 0;
			list-style-type: none;
			display: flex;
		}

		& li {
			padding-right: 8px;
		}

		& button {
			font-size: 0;
			border: none;
			padding: 0;
			width: 36px;
			height: 9px;
			background-color: #fff;
			cursor: pointer;
		}

		& .slick-active button {
			background-color: #f00;
		}
	}

	@media (max-width: 1200px) {
		&__item-title,
		&__item-desc {
			display: none;
		}

		&__control > ul {
			left: 30px;
		}
	}

	@media (max-width: 768px) {
		display: none;
	}
}

.footer {
	//display: none;
	&__black {
		background-color: #333333;

		&-inner {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding: 30px 15px 40px;
			max-width: 1200px;
			margin: auto;
		}
	}

	&__red {
		background-color: #f00;

		&-inner {
			max-width: 1200px;
			padding: 25px 15px;
			margin: auto;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: center;
		}
	}

	&__copy {
		color: #fff;
		font-family: Pragmatica Book;
		font-size: 14px;
	}

	&__dev {
		text-decoration: none;
		max-width: 110px;

		& > img {
			border: none;
		}
	}

	&__item {
		color: #fff;

		&-header {
			font-size: 18px;
			font-family: Pragmatica Book;
			text-transform: uppercase;
			margin-top: 40px;
			margin-bottom: 40px;

			&_prod {
				margin-bottom: 16px;
			}
		}
	}

	&__contact {
		font-size: 14px;
		font-family: Pragmatica Book;

		&-city {
			text-transform: uppercase;
			margin-top: 25px;
		}
	}

	&__menu {
		margin: 0;
		padding: 0;
		list-style-type: none;

		a {
			text-decoration: none;
			color: #fff;
			text-transform: uppercase;
			font-size: 16px;
			font-family: Pragmatica Book;
			display: block;
			line-height: 1em;
			margin: 16px 0;

			&:hover {
				color: #f00;
			}
		}
	}

	&__news {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 70px;
		max-width: 370px;

		&-item {
			flex-basis: 25%;

			& > img {
				width: 100%;
				height: 100%;
				border: none;
				object-fit: cover;
			}
		}
	}

	&__subscribe {
		&-input {
			display: block;
			width: 100%;
			border: none;
			line-height: 54px;
			padding: 0 21px;
			color: #fff;
			background-color: #666;
			font-size: 14px;
			font-family: Pragmatica Book;
			width: 370px;
			max-width: 100%;
			outline: none;
		}

		&-submit {
			margin-top: 18px;
		}
	}

	@media (max-width: 1000px) {
		&__item_news {
			display: none;
		}
	}

	@media (max-width: 767px) {
		&__copy {
			padding-right: 60px;
		}

		&__dev {
			display: none;
		}
	}

	@media (max-width: 500px) {
		&__item_product {
			display: none;
		}
	}
}

.form {
	background-color: #F5F5F5;
	padding: 44px 30px 30px;
	position: relative;
	flex-shrink: 0;
	max-width: 100%;

	&_price,
	&_partner {
		width: 370px;
	}

	&_calc {
		width: 530px;
	}

	&_calc-product {
		background-color: transparent;
		padding: 0;
		display: none;
	}

	&_dillers {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		border: 1px solid #999;
		padding: 32px 70px 50px;
	}

	&_question {
		padding-bottom: 50px;
	}

	&__fixed {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 4;
		transform: translateZ(0);

		&_price,
		&_partner,
		&_calc {
			display: none;
		}
	}

	&__cont {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 50px 0;
	}

	&__close-div {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	&__close {
		border: none;
		padding: 0;
		background-color: transparent;
		cursor: pointer;
		color: #999;
		font-size: 30px;
		position: absolute;
		top: 23px;
		right: 31px;
		line-height: 1em;
		width: 40px;
		height: 40px;
	}

	&__header {
		font-size: 18px;
		font-family: Pragmatica Book;
		color: #999;
		background: url(imgs/logo-form.png) no-repeat 0 0;
		padding-left: 100px;
		padding-top: 16px;

		&-simple {
			font-size: 16px;
			margin: 40px 0;
		}
	}

	&__label {
		display: block;
		margin-top: 18px;

		&_after-captcha {
			margin-top: 10px;
		}

		&_wide {
			display: flex;
			align-items: center;

			& > span {
				margin-bottom: 0;
			}
		}

		&_dillers {
			width: 31%;
		}

		&_dillers-wide {
			width: 100%;
		}

		&_wide &-text {
			width: 171px;
		}

		&_cv {
			display: flex;
		}

		&-text {
			color: #333;
			font-size: 14px;
			font-family: Pragmatica Book;
			display: inline-block;
			margin-bottom: 10px;

			&_price {
				display: block;
			}

			&_calc-captcha {
				align-self: flex-start;
				margin-top: 34px;
			}

			&_require:after {
				content: '*';
				color: #f00;
				margin-left: .3em;
			}

			&_cv {
				min-width: 200px;
				line-height: 38px;
				margin-bottom: 0;
			}

			&_cv-top {
				line-height: 1.25;
			}
		}
	}

	&__input {
		border: 1px solid #999;
		font-size: 14px;
		font-family: Pragmatica Book;
		color: #333;
		line-height: 29px;
		padding: 0 14px;
		line-height: 38px;

		&_price,
		&_partner {
			display: block;
			width: 100%;
		}

		&_calc {
			width: 100%;
		}

		&_captcha {
			margin-top: 14px;
			width: 110px;

			&_cv {
				margin-top: 0;
				margin-left: 20px;
			}
		}

		&_captcha-question {
			margin-top: 0;
		}

		&_captcha-img {
			display: block;
		}

		&_dillers {
			display: block;
			width: 100%;
		}

		&_question {
			width: 270px;
		}

		&_cv {
			width: 270px;
		}

		&_cv-date {
			width: 70px;
		}

		&_cv-area {
			margin-right: 30px;
			margin-bottom: 20px;
		}

		&_cv-city {
			margin-bottom: 20px;
		}

		&_cv-street {
			margin-right: 30px;
		}

		&_cv-home {
			width: 70px;
			margin-right: 30px;
		}

		&_cv-q {
			width: 70px;
		}
	}

	&__col {
		display: inline-block;

		&_date {
			width: 270px;
			display: flex;
			justify-content: space-between;
		}

		&_address {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__file {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
		cursor: pointer;
		z-index: 1;
		width: 100%;
		height: 100%;

		&-control {
			display: flex;
			align-items: center;
			width: 100%;
		}

		&-files {
			width: 100%;
			height: 40px;
			border: 1px solid #999;
			display: inline-block;
			color: #000;
			position: relative;

			&:before {
				content: attr(data-files);
				position: absolute;
				top: 0;
				right: 10px;
				bottom: 0;
				left: 10px;
				line-height: 40px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				font-family: Pragmatica Book;
				font-size: 14px;
			}
		}
		
		&-cont {
			position: relative;
			height: 40px;
			overflow-y: hidden;
			display: inline-flex;
			width: 100%;
			vertical-align: top;

			&:after {
				content: attr(data-text);
				display: inline-block;
				line-height: 40px;
				width: 108px;
				background-color: #f00;
				color: #fff;
				text-align: center;
				font-family: Pragmatica Book;
				font-weight: 500;
				text-transform: uppercase;
				vertical-align: top;
				flex-shrink: 0;
				flex-grow: 0;
				margin-left: 11px;
			}
		}
	}

	&__textarea {
		border: 1px solid #999;
		font-size: 14px;
		font-family: Pragmatica Book;
		color: #333;
		line-height: 18px;
		padding: 14px;
		resize: none;

		&_partner {
			display: block;
			width: 100%;
			height: 100px;
		}

		&_dillers {
			height: 98px;
			width: 100%;
		}

		&_question {
			width: 270px;
			height: 100px;
		}
	}

	&__captcha-cont {
		width: 100%;
		margin-top: 27px;

		&_cv {
			margin-top: 0;
			display: flex;
		}
	}

	&__captcha {
		width: 110px;
		height: 40px;
		border: 1px solid #999;
		margin-top: 32px;

		&_calc {
			margin-top: 0;
		}

		&_dillers {
			margin-top: 0;
			margin-right: 43px;
		}

		&_question {
			margin-top: 0;
			margin-right: 30px;
		}

		&_cv {
			margin-top: 0;
		}
	}

	&__text {
		font-size: 12px;
		font-family: Pragmatica Book;
		color: #333;
		margin-top: 12px;

		&_captcha-calc {
			max-width: 170px;
		}
	}

	&__button {
		font-size: 14px;
		font-family: Pragmatica Book;
		font-weight: 500;
		padding: 0 17px;
		margin-top: 26px;
		cursor: pointer;
		border: 2px solid #333;
		color: #333;
		height: 40px;

		&_price,
		&_partner,
		&_dillers {
			background-color: #fff;
		}

		&_calc {
			background-color: #f00;
			border-color: transparent;
			color: #fff;
		}

		&_dillers {
			width: 370px;
			max-width: 100%;
		}

		&_dillers > span:before {
			content: '';
			display: inline-block;
			vertical-align: top;
			width: 21px;
			height: 17px;
			background: url(imgs/check-black.png) no-repeat 50% 50%;
			//margin-left: -21px;
			margin-right: 10px;
		}

		&_dillers:hover > span:before {
			background-image: url(imgs/check-white.png);
		}

		&:hover {
			color: #fff;
			background-color: #f00;
			border-color: transparent;
		}

		&_calc:hover {
			background-color: #fff;
			border-color: #000;
			color: #000;
		}

		&-remove {
			width: 21px;
			height: 21px;
			border-radius: 50%;
			border: none;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-image: url(imgs/cross-white-red.png);
			margin: 0 0 0 11px;
			padding: 0;
		}

		&-remove:hover {
			padding: 0;
			background-color: #fff;
		}

		&-cont-dillers {
			width: 100%;
		}

		&_show-calc-form {
			color: #fff;
			background-color: #f00;
			border-color: transparent;
			margin-top: 0;
		}

		&_show-calc-form:hover {
			background-color: #fff;
			color: #000;
			border-color: #000;
		}

		&:disabled {
			color: transparent;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-image: url(imgs/loading.gif);
			cursor: default;
			border-color: transparent;
			background-color: #fff;
			border-color: transparent;
		}
	}

	&__radio {
		position: relative;
		margin-right: 30px;
		font-size: 14px;
		font-family: Pragmatica Book;
		padding-left: 25px;
		overflow: hidden;
		white-space: nowrap;
		display: inline-block;

		& > input {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			margin: 0;
		}

		& > span {
			&:before,
			&:after {
				content: '';
				position: absolute;
			}

			&:before {
				width: 14px;
				height: 14px;
				border-radius: 14px;
				top: 1px;
				left: 0;
				border: 1px solid #999;
			}

			&:after {
				width: 10px;
				height: 10px;
				border-radius: 10px;
				background-color: #f00;
				top: 4px;
				left: 3px;
				display: none;
			}
		}

		& > input:checked + span:after {
			display: block;
		}
	}

	&__checkbox {
		position: relative;
		overflow: hidden;
		padding-left: 25px;
		margin-right: 30px;
		display: inline-block;

		& > input {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			margin: 0;
		}

		& > span {
			&:before,
			&:after {
				content: '';
				position: absolute;
			}

			&:before {
				width: 14px;
				height: 14px;
				border: 1px solid #666;
				top: 0;
				left: 0;
			}

			&:after {
				box-sizing: border-box;
				width: 12px;
				height: 8px;
				border-color: transparent transparent #f00 #f00;
				border-style: solid;
				border-width: 3px;
				top: 1px;
				left: 2px;
				transform: rotate(-45deg);
				display: none;
			}
		}

		& > input:checked + span:after {
			display: block;
		}
	}

	&__expirience {
		position: relative;
	}

	&__expirience ~ &__expirience {
		margin-top: 60px;
	}

	&__header-simple + &__expirience > &__expririence-remove{
		display: none;
	}

	&__expririence-remove {
		font-size: 20px;
		background-color: transparent;
		border: none;
		padding: 0;
		cursor: pointer;
		position: absolute;
		right: 50px;
		top: 0;
	}

	&__add-cv {
		height: 40px;
		width: 270px;
		max-width: 100%;
		background-color: #f00;
		color: #fff;
		border: none;
		padding: 0;
		font-size: 14px;
		font-family: Pragmatica Book;
		text-transform: uppercase;
		cursor: pointer;
		margin-top: 30px;
		text-align: center;

		&:hover {
			color: #f00;
			background-color: #fff;

			& > span:before {
				background-image: url(imgs/add-red.png);
			}
		}

		& > span {
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 13px;
				height: 13px;
			}

			&:before {
				margin-right: 10px;
				background: url(imgs/add-white.png) no-repeat 50% 50%;
				position: relative;
				top: -1px;
			}
		}
	}

	&__file-photo {
		position: relative;
		cursor: pointer;
		width: 270px;
		height: 40px;
		max-width: 100%;
		color: #fff;
		background-color: #f00;
		overflow: hidden;
		display: inline-block;
		line-height: 40px;
		text-align: center;
		text-transform: uppercase;

		& > span {
			&:before,
			&:after {
				content: '';
				width: 11px;
				height: 13px;
				display: inline-block;
				vertical-align: middle;
			}

			&:before {
				background: url(imgs/select-white.png) no-repeat 50% 50%;
				margin-right: 10px;
			}

			&:after {
				margin-left: 10px;
			}
		}

		&:hover {
			color: #f00;
			background-color: #fff;
		}
	
		&:hover > span:before {
			background-image: url(imgs/select-red.png);
		}

		& > input {
			opacity: 0;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
		}

		&-text {
			vertical-align: top;
			line-height: 40px;
			margin-left: 25px;
		}
	}

	&_error {
		border-color: #f00;
	}

	@media (max-width: 1200px) {
		&__input_lang {
			display: block;
			margin-top: 20px;
		}

		&__file-photo-text {
			display: block;
			margin-left: 0;
		}
	}

	@media (max-width: 1000px) {
		&__label_dillers {
			width: 46%;
		}

		&_question {
			max-width: 620px;
			margin: auto;
		}
	}

	@media (max-width: 720px) {
		&__col_address {
			display: block;
		}

		&__input_cv-street {
			display: block;
			margin-bottom: 20px;
		}
	}

	@media (max-width: 700px) {
		&_dillers {
			padding: 15px;
		}

		&__label_dillers {
			width: 100%;
		}

		&__input_dillers-input {
			margin-top: 26px;
		}
	}

	@media (max-width: 600px) {
		&__cont {
			padding-top: 0;
			padding-bottom: 0;
		}

		&__label_wide {
			display: block;
		}

		&__label_wide > span {
			margin-bottom: 10px;
			white-space: nowrap;
		}

		&__label_cv,
		&__label-text_cv {
			display: block;
		}

		&__label-text_cv-top {
			margin-bottom: 20px;
		}
	}

	@media (max-width: 600px) {
		&_question &__label_wide {
			display: flex;
		}
	}

	@media (max-width: 470px) {
		&_question &__label_wide {
			display: block;
		}

		&_question &__label_captcha {
			display: flex;
			flex-wrap: wrap;
		}

		&_question &__label-text_captcha {
			width: 100%;
		}

		&__col_address input {
			margin-right: 0;
		}
	}
}

.breadcrumbs {
	max-width: 1200px;
	padding: 20px 15px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 108px;
	//display: none;

	&__title {
		font-size: 24px;
		font-family: Pragmatica Book;
		color: #000;
		text-transform: uppercase;
		padding-right: 20px;
	}

	&__path {
		font-size: 14px;
		font-family: Pragmatica Book;
		text-transform: uppercase;
	}

	&__item {
		color: #000;
		text-decoration: none;

		&:hover {
			color: #f00;
		}
	}

	&__div:before {
		content: '/';
		position: relative;
		top: -1px;
	}

	&__current {
		color: #f00;
	}

	@media (max-width: 800px) {
		display: block;

		&__path {
			line-height: 2em;
		}
	}
}

.image {
	max-width: 1170px;
	margin: auto;
	//display: none;

	&__img {
		max-width: 100%;
		height: auto;
		display: block;
	}
}

.image + .wrapper > .content_default {
	padding-top: 100px;
}

.wrapper {
	max-width: 1200px;
	margin: auto;
	padding: 0 15px;
	display: flex;

	&-question {
		background-color: #F5F5F5;
		padding-top: 36px;
	}

	&-question_questions {
		background-color: #fff;
		padding-bottom: 100px;
	}

	&-question_form {
		display: none;
	}

	&-question__inner {
		max-width: 1200px;
		padding: 0 15px;
		margin: auto;
		display: flex;
	}

	&-cv {
		background-color: #F5F5F5;
		max-width: none;
		display: none;
	}

	&-cv__inner {
		max-width: 1170px;
		margin: auto;
		display: flex;
	}

	&-product-projects {
		background-color: #F5F5F5;
		max-width: none;

		&__inner {
			max-width: 1170px;
			display: flex;
			margin: auto;
			width: 100%;
		}
	}

	@media (max-width: 1000px) {
		display: block;

		&-question__inner {
			display: block;
		}

		&-cv__inner {
			display: block;
			max-width: 750px;
			margin: auto;
		}
	}

	@media (max-width: 1000px) {
		&-product-single {
			display: flex;
		}
	}

	@media (max-width: 900px) {
		&-product-single {
			display: block;
		}

		&-product-projects__inner {
			display: block;
		}
	}
}

.aside {
	width: 300px;
	flex-shrink: 0;

	ul {
		list-style-type: none;
	}

	&__menu {
		padding: 40px 15px 40px 0;
		margin: 0;

		& li > a {
			color: #000;
			display: block;
			text-decoration: none;
			font-size: 16px;
			font-family: Pragmatica Book;
			font-weight: 500;
			text-transform: uppercase;
			padding: 10px 0;
			position: relative;
			padding-left: 17px;
			//transition: color .3s 0s;

			&:before {
				content: '';
				width: 6px;
				height: 6px;
				border-width: 2px 2px 0 0;
				border-style: solid;
				border-color: #000;
				transform: rotate(45deg);
				position: relative;
				top: -1px;
				margin-right: 5px;
				display: none;
			}

			& > button {
				border: none;
				padding: 0;
				background-color: transparent;
				width: 8px;
				height: 8px;
				border-width: 2px 2px 0 0;
				border-style: solid;
				border-color: #000;
				vertical-align: top;
				transform: rotate(-45deg);
				cursor: pointer;
				position: absolute;
				top: 17px;
				left: 0;
				display: none;
			}
		}

		& li:first-child > a > button {
			top: 7px;
		}

		& li.hide > a > button {
			transform: rotate(45deg);
		}

		& li.hide > .sub-menu {
			display: none;
		}

		& .current-menu-item > a {
			color: #f00;

			&:before {
				border-color: #f00;
			}
		}

		& .current-menu-item > a > button {
			border-color: #f00;
		}

		& .current-post-parent {
			color: #000;
		}

		& .menu-item-has-children > a > button {
			display: block;
		}

		& a:hover {
			color: #f00;

			/*&:before {
				border-color: #f00;
			}*/
		}

		& a:hover > button {
			border-color: #f00;
		}

		&:hover .current-menu-item > a {
			color: #000;
		}

		&:hover .current-menu-item > a > button {
			border-color: #000;
		}

		&:hover .current-menu-item:hover > a {
			color: #f00;
		}

		&:hover .current-menu-item:hover > a > button {
			border-color: #f00;
		}

		/*& .current-menu-item:hover > a {
			color: #000;

			&:before {
				border-color: #000;
			}
		}*/
	}

	.sub-menu {
		a {
			font-weight: 400;
			padding: 6px 0;
		}
	}

	.sub-menu button {
		display: none;
	}

	&_product > &__menu {
		padding-top: 0;
	}

	&_product > &__menu > li:first-child > a:first-child {
		padding-top: 0;
	}

	@media (max-width: 900px) {
		&_product {
			display: none;
		}
	}
}

.content {
	font-family: Pragmatica Book;
	overflow-y: hidden;
	font-size: 14px;
	padding-top: 54px;
	padding-bottom: 100px;
	width: 100%;

	&_question {
		padding-bottom: 0;
	}

	&_question-form {
		padding-top: 0;
		background-color: #F5F5F5;
	}

	&_default {
		padding-top: 0;
	}

	&_product-form {
		padding: 0 0 70px;
	}

	& > :first-child {
		margin-top: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 55px 0 23px;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 18px;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;

		li:before {
			content: '•';
		}
	}

	&__numbers {
		display: flex;
		margin-top: 37px;

		& > div {
			text-align: center;
			color: #fff;
			padding: 25px 15px;
			width: 25%;
			font-size: 12px;

			& > b {
				font-size: 24px;
				display: block;
			}
		}

		& > div:nth-child(1) {
			background-color: #8F0B0D;
		}

		& > div:nth-child(2) {
			background-color: #A61013;
		}

		& > div:nth-child(3) {
			background-color: #C90A0D;
		}

		& > div:nth-child(4) {
			background-color: #EB0000;
		}
	}

	&_product {
		padding-top: 0;
		padding-bottom: 70px;
		overflow: hidden;
	}

	&_dillers {
		padding-top: 0;
	}

	@media (max-width: 660px) {
		&__numbers {
			flex-wrap: wrap;

			& > div {
				width: 50%;
			}
		}
	}

	@media (max-width: 400px) {
		&__numbers > div {
			width: 100%;
		}
	}
}

body .icon {
	background-repeat: no-repeat;
	background-position: 0 50%;
	min-height: 50px;
	padding-left: 80px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 35px;
	margin-bottom: 15px;

	&_wallet {
		background-image: url(imgs/wallet-red.png);
	}

	&_wallet1 {
		background-image: url(imgs/wallet-red1.png);
	}

	&_rocket {
		background-image: url(imgs/rocket-red.png);
	}

	&_delivery {
		background-image: url(imgs/delivery-red.png);
	}

	&_delivery1 {
		background-image: url(imgs/delivery-red1.png);
	}

	&_bag {
		background-image: url(imgs/bag-red.png);
	}

	&_crane {
		background-image: url(imgs/crane-red.png);
	}

	&_streight {
		background-image: url(imgs/streight-red.png);
	}

	&_color {
		background-image: url(imgs/color-red.png);
	}

	&_fire {
		background-image: url(imgs/fire-red.png);
	}

	&_univ {
		background-image: url(imgs/univ-red.png);
	}

	&_simple {
		background-image: url(imgs/simple-red.png);
	}

	&_drop {
		background-image: url(imgs/drop-red.png);
	}

	&_eco {
		background-image: url(imgs/eco-red.png);
	}

	&_inf {
		background-image: url(imgs/inf-red.png);
	}

	&_exp {
		background-image: url(imgs/exp-red.png);
	}

	&_univ1 {
		background-image: url(imgs/univ1-red.png);
	}

	&_sun {
		background-image: url(imgs/sun-red.png);
	}

	&_deep {
		background-image: url(imgs/deep-red.png);
	}
}

.buttons {
	position: fixed;
	top: 200px;
	right: 0;
	transform: translateZ(0);

	&__line {
		position: relative;
		height: 50px;
		margin-bottom: 4px;
	}

	&__button {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
		border: none;
		padding: 0;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-color: #f00;
		cursor: pointer;
		opacity: 0.7;

		&_calc {
			background-image: url(imgs/button-calc.png);
		}

		&_price {
			background-image: url(imgs/button-price.png);
		}

		&_partner {
			background-image: url(imgs/button-message.png);
		}

		&:hover + div {
			display: block;
		}
	}

	&__text {
		width: 285px;
		padding-right: 50px;
		text-align: center;
		line-height: 50px;
		font-size: 14px;
		font-family: Pragmatica Book;
		font-weight: 500;
		background-color: rgba(0, 0, 0, 0.7);
		color: #fff;
		display: none;
	}

	@media (max-height: 500px) {
		top: 120px;
	}
}

#map {
	max-width: 1170px;
	margin: auto;
	height: 450px;
	max-height: 60vh;
	overflow: hidden;

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url(imgs/map-loader.gif);

	&__mark {
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-image: url(imgs/point-red.png);
		width: 26px;
		height: 39px;
		position: relative;
		top: -50px;
		left: -20px;
	}
}

.news {
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
	position: relative;
	
	&__link {
		text-decoration: none;
		color: #000;
		font-size: 14px;
		font-weight: 500;
		font-family: Pragmatica Book;
		line-height: 15px;
		position: absolute;
		top: 0;
		right: 15px;

		&:before {
			content: '';
			width: 19px;
			height: 15px;
			display: inline-block;
			background: url(imgs/news-icon-black.png);
			margin-right: 15px;
			position: relative;
			bottom: -2px;
		}
	}

	&__head {
		display: flex;
	}

	&__thumb > img {
		display: block;
	}

	&__title {
		font-size: 28px;
		font-family: Pragmatica Book;
		font-weight: 500;
		text-transform: uppercase;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	&__title-inner {
		padding: 15px;
		width: 600px;
		max-width: 100%;
	}

	&__content {
		font-size: 14px;
		font-family: Pragmatica Book;
		margin-top: 45px;
		padding-bottom: 100px;
		overflow: hidden;
	}

	&__nav {
		max-width: 1200px;
		border-top: 1px solid #666;
		display: flex;
		justify-content: space-between;
		padding-bottom: 66px;
	}

	&__nav-item {
		display: flex;
		margin-top: 28px;
		width: 50%;
		color: #000;
		text-decoration: none;
	}

	&__nav-thumb {
		width: 146px;
		height: 99px;

		& > img {
			max-width: 100%;
			height: auto;
		}

		&-prev {
			margin-right: 53px;
		}

		&-next {
			margin-left: 53px;
		}
	}

	&__nav-next {
		justify-content: flex-end;
		text-align: right;
		padding-left: 15px;
	}

	&__nav-prev {
		padding-right: 15px;
	}

	&__nav-caption {
		font-size: 14px;
		font-family: Pragmatica Book;
	}

	&__nav-title {
		font-size: 16px;
		font-family: Pragmatica Book;
		font-weight: 500;
		margin-top: 20px;
	}

	@media (max-width: 1000px) {
		max-width: 600px;
		margin: auto;

		&__link {
			position: static;
			margin-bottom: 20px;
			display: block;
		}

		&__head {
			display: block;
		}

		&__thumb > img {
			display: block;
		}

		&__title {
			display: block;
		}

		&__title-inner {
			padding: 30px 0;
		}

		&__content {
			margin-top: 0;
			padding-bottom: 40px;
		}

		&__nav {
			display: none;
		}
	}
}

.information {
	&__item {
		text-decoration: none;
		color: #000;
		display: inline-block;
		height: 34px;
		padding-left: 40px;
		background: url(imgs/doc-icon.png) no-repeat 0 50%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;

		&:hover {
			color: #f00;
		}
	}
	
	&__link {
		text-decoration: none;
		color: #000;
		font-size: 14px;
		font-weight: 500;
		font-family: Pragmatica Book;
		line-height: 15px;
		margin-top: 30px;
		display: inline-block;

		&:before {
			content: '';
			width: 19px;
			height: 15px;
			display: inline-block;
			background: url(imgs/news-icon-black.png);
			margin-right: 15px;
			position: relative;
			bottom: -2px;
		}
	}
}

.questions {
	&__header {
		font-size: 18px;
		font-weight: 500;
		font-family: Pragmatica Book;
		margin-top: 55px;
		margin-bottom: 45px;
	}

	&__all {
		color: #000;
		text-decoration: none;
		font-family: Pragmatica Book;
		font-size: 14px;
	}

	&__item {
		color: #000;
		font-family: Pragmatica Book;
		margin-top: 25px;
		margin-bottom: 25px;
	}

	&__item-header {
		color: inherit;
		font-size: 18px;
		font-weight: 500;
		text-decoration: none;
	}

	&__item-desc {
		font-size: 14px;
		margin-top: 15px;
		margin-left: 12px;
		display: none;
	}
}

.p404 {
	font-family: Pragmatica Book;
	font-size: 24px;
	font-weight: 500;

	&__inner {
		max-width: 1200px;
		padding: 100px 15px;
		margin: auto;
	}

	&__code {
		font-size: 200px;
	}
}

.product {
	&__head {
		display: flex;
	}

	&__head-photo {
		flex-basis: 470px;
		flex-shrink: 0;
	}

	&__head-thumb {
		padding-bottom: 63.83%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}

	&__head-photos {
		display: flex;
		flex-wrap: wrap;
		max-width: 470px;
		margin-top: 14px;
	}

	&__head-photos-item {
		width: 24%;
		margin-right: 1.33%;
		margin-bottom: 14px;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			right: 0;
			bottom: -3px;
			left: 0;
			height: 3px;
			background-color: #f00;
			display: none;
		}

		&:nth-child(4n) {
			margin-right: 0;
		}

		&_current:after {
			display: block;
		}

		& > img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__head-desc {
		padding-left: 30px;
		display: flex;
		flex-direction: column;
		//justify-content: space-between;
		height: 386px;
	}

	&__head-header {
		font-size: 24px;
		font-weight: 500;
		text-transform: uppercase;
		flex-shrink: 0;
	}
	
	&__head-category {
		font-weight: 500;
		font-size: 16px;
		text-transform: uppercase;
	}

	&__head-text {
		margin-top: 15px;
		white-space: pre-line;
		overflow: hidden;
		height: 100%;
	}

	&__head-advantages {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		flex-shrink: 0;
	}

	&__head-advantage {
		flex-basis: 47%;
		background-repeat: no-repeat;
		background-position: 0 50%;
		min-height: 40px;
		padding-left: 47px;
		font-size: 12px;
		margin-top: 15px;
		margin-bottom: 15px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		&_streight {
			background-image: url(imgs/streight-red.png);
		}

		&_simple {
			background-image: url(imgs/simple-red.png);
		}

		&_color {
			background-image: url(imgs/color-red.png);
		}

		&_corr-streight {
			background-image: url(imgs/corr-streight-red.png);
		}

		&_wallet1 {
			background-image: url(imgs/wallet-red1.png);
		}

		/*&_ten-years {
			background-image: url(imgs/ten-years.png);
			background-size: 100% auto;
		}

		&_fifteen-years {
			background-image: url(imgs/fifteen-years.png);
			background-size: 100% auto;
		}*/

		&_fire {
			background-image: url(imgs/fire-red.png);
		}

		&_waranty {
			padding-left: 0;
			display: flex;
			flex-wrap: nowrap;
		}

		&-left {
			border-right: 2px solid #f00;
			padding-right: 7px;
			margin-right: 3px;
		}

		&-right {
			flex-shrink: 0;
			font-size: 25px;
			font-weight: bold;
			text-transform: lowercase;

			& > span {
				font-size: 30px;
			}
		}
	}

	&__head-icons {
		display: flex;
		flex-shrink: 0;
	}

	&__head-icon {
		height: 47px;
		flex-basis: 50px;
		background-position: 0 50%;
		background-repeat: no-repeat;
		position: relative;

		&_sun {
			background-image: url(imgs/sun-black.png);
		}

		&_cloud {
			background-image: url(imgs/cloud-black.png);
		}

		&_snow {
			background-image: url(imgs/snow-black.png);
		}

		&_temp {
			background-image: url(imgs/temp-black.png);
		}

		&_fire {
			background-image: url(imgs/fire-black.png);
		}

		&_color {
			background-image: url(imgs/color-black.png);
		}

		&_eco {
			background-image: url(imgs/eco-black.png);
		}

		&_wallet {
			background-image: url(imgs/wallet-black.png);
		}

		&_sound {
			background-image: url(imgs/sound-black.png);
		}

		&_streight {
			background-image: url(imgs/streight-black.png);
		}
	}

	&__head-icon-text {
		position: absolute;
		white-space: nowrap;
		right: 0;
		top: -34px;
		margin: auto;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.8);
		color: #fff;
		padding: 8px 10px;
		line-height: 18px;
		display: none;
	}

	&__head-icon:hover &__head-icon-text {
		display: block;
	}

	&__table {
		display: flex;
		margin-top: 53px;
		flex-wrap: wrap;
	}

	&__ceil {
		font-family: Pragmatica Book;
		width: 20%;
		text-align: center;
		border-color: #000;
		border-style: solid;
		border-width: 0 0 0 1px;

		&:last-child &-header {
			background-color: #f00;
		}

		&:last-child {
			border-width: 0 1px 0 1px;
		}

		&-header {
			font-size: 12px;
		}
	}

	&__ceil-header {
		color: #fff;
		background-color: #000;
		padding: 11px 16px;
		white-space: nowrap;
	}

	&__ceil-content {
		color: #000;
		padding: 16px;
		white-space: pre-line;
	}

	&__tabs {
		width: 100%;
		margin-top: 70px;
		display: none;
	}

	&__tab {
		display: none;

		&_tech,
		&_elem,
		&_install {
			padding-bottom: 27px;
		}
	}

	&__tabs-heads {
		display: flex;
		width: 100%;
	}

	&__tabs-title {
		line-height: 48px;
		text-align: center;
		padding: 0 16px;
		font-size: 14px;
		border-width: 0 0 1px 0;
		border-style: solid;
		border-color: transparent transparent #000 transparent;
		width: 100%;
		background-color: transparent;
		cursor: pointer;
		text-transform: uppercase;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&_current {
			color: #f00;
			border-color: #000 #000 transparent #000;
			border-width: 1px 1px 0 1px;
		}
	}

	&__inner-tables {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__inner-table {
		width: 48.5%;
	}

	&__inner-title {
		line-height: 18px;
		font-weight: 500;
		padding: 30px 0 15px;
	}

	&__inner-row {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #333;
	}

	&__inner-ceil {
		line-height: 18px;
		padding: 16px 0;

		&_name {
			color: #666;
			padding-right: 15px;
		}

		&_value {
			text-align: right;
			white-space: nowrap;
			display: flex;
			align-items: center;
		}
	}

	&__colors {
		overflow: hidden;
	}

	&__colors-text {
		line-height: 22px;
		margin-top: 24px;
		margin-bottom: 28px;
	}

	&__colors-items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -11px;
	}

	&__colors-header {
		font-weight: 500;
		margin-top: 33px;
		margin-bottom: 33px;
		width: 100%;
		padding: 0 15px;
		text-transform: uppercase;

		&:first-child {
			margin-top: 0;
		}
	}

	&__colors-item {
		padding: 0 11px;
		width: 25%;
	}

	&__colors-item-thumb {
		padding-bottom: 66%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		position: relative;
	}

	&__colors-item-code {
		color: #fff;
		font-size: 16px;
		text-transform: uppercase;
		line-height: 26px;
		border-color: #fff;
		border-style: solid;
		border-width: 1px 0 1px 1px;
		padding: 0 18px 0 8px;
		position: absolute;
		bottom: 15px;
		left: 18px;
		background-color: rgba(0, 0, 0, 0.7);
		
		& > span {
			position: relative;
			bottom: -1px;
			z-index: 2;
		}
		
		&:after {
			content: '';
			height: 26px;
			width: 28px;
			position: absolute;
			border-color: #fff;
			border-style: solid;
			border-width: 1px 1px 1px 0;
			transform: skew(-30deg);
			z-index: 1;
			top: -1px;
			right: -9px;
		}

		&:before {
			content: '';
			height: 0;
			width: 0;
			position: absolute;
			border-color: rgba(0, 0, 0, 0.7) transparent transparent rgba(0, 0, 0, 0.7);
			/* border-color: #f00 transparent transparent #f00; */
			border-style: solid;
			border-width: 13px;
			z-index: 1;
			right: -20px;
			transform: scaleX(0.54);
		}
	}

	&__colors-item_dark &__colors-item-code {
		color: #000;
		border-color: #000;
		background-color: transparent;

		&:after {
			border-color: #000;
		}

		&:before {
			display: none;
		}
	}

	&__colors-item-title {
		font-size: 12px;
		min-height: 67px;
		text-align: center;
		padding: 15px 15px 27px;
	}

	&__elem {
		text-align: center;

		& > img {
			width: 100%;
		}
	}

	&__elem-text {
		margin-top: 30px;
		margin-bottom: 35px;
		white-space: pre-line;
	}

	&__elem-item {
		width: 32%;
		margin-right: 2%;

		&:nth-child(3n) {
			margin-right: 0;
		}
	}

	&__elem-image {
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 80% auto;
		padding-bottom: 54%;
	}

	&__elem-title {
		color: #fff;
		background-color: #333;
		text-align: center;
		line-height: 17px;
		padding: 17px;
		margin-bottom: 10px;
	}

	&__oblits-header {
		font-size: 16px;
		font-weight: 500;
		margin: 23px auto 18px;
	}

	&__oblits-text {
		margin: 18px auto;
	}

	&__oblits-item {
		margin-top: 30px;
		margin-bottom: 60px;
	}

	&__oblits-name {
		margin: 0 auto 30px;
	}

	&__install-text {
		margin-top: 30px;
		margin-bottom: 15px;
		white-space: pre-line;
	}

	&__install-name {
		font-weight: 500;
		margin-top: 30px;
		margin-bottom: 15px;
	}

	&__install-row {
		display: flex;
		border-bottom: 1px solid #000;
	}

	&__install-image {
		border-right: 1px solid #000;
		flex-basis: 227px;
		padding: 20px 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
	}

	&__install-desc {
		padding: 20px 30px;
		white-space: pre-line;
	}

	&__vodostok {
		margin-bottom: 50px;

		&-head {
			display: flex;
			margin-top: 35px;
			margin-bottom: 17px;
		}

		&-head-ceil {
			flex-basis: 50%;
			font-weight: bold;

			&:first-child {
				padding-right: 20px;
			}

			&:last-child {
				padding-left: 20px;
			}
		}

		&-row {
			display: flex;
		}

		&-row:last-child &-ceil {
			border-bottom-width: 0;
		}

		&-ceil {
			flex-basis: 50%;
			border-color: #333;
			border-style: solid;
			display: flex;
			align-items: center;

			&:first-child {
				border-width: 0 1px 1px 0;
				padding: 16px 20px 16px 0;
				display: flex;
				justify-content: space-between;

				& > span:first-child {
					color: color(#666)
				}
			}

			&:last-child {
				border-width: 0 0 1px 0;
				padding: 16px 0 16px 20px;
			}
		}
	}

	&__custom {
		margin: 50px 0;
		white-space: pre-line;
	}

	&__komplekt {
		&-header {
			font-size: 18px;
			margin-bottom: 40px;
		}

		&-inner {
			position: relative;
			padding: 0 25px;
		}

		&-items {
			overflow: hidden;
		}

		&-controls {
			position: absolute;
			top: 20px;
			right: 0;
			left: 0;
			display: flex;
			justify-content: space-between;
			padding-top: 5%;
		}

		&-button {
			border: none;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			padding: 0;
			width: 14px;
			height: 25px;
			background-color: transparent;
			transform: translateY(-20px);
			cursor: pointer;

			&_prev {
				background-image: url(imgs/arrow-prev-red.png);
				//left: 0;
			}

			&_next {
				background-image: url(imgs/arrow-next-red.png);
				//right: 0;
			}
		}

		&-item {
			padding: 0 11px;
			width: 25%;
			float: left;

			&-image {
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: cover;
				padding-bottom: 66%;
			}

			&-title {
				margin-top: 32px;
				text-align: center;
			}
		}
	}

	&__projects {
		padding-bottom: 60px;

		&-header {
			font-size: 18px;
			font-weight: 500;
			font-family: Pragmatica Book;
			text-transform: uppercase;
			margin-bottom: 60px;
		}

		&-items {
			display: flex;
			margin-bottom: 74px;
		}

		&-item {
			width: 31%;
			margin-right: 3.5%;
			position: relative;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.15);
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-image: url(imgs/zoom.png);
				display: none;
			}

			&:last-child {
				margin-right: 0;
			}

			&:hover:after {
				display: block;
			}

			& > div {
				padding-bottom: 75%;
			}
		}
	}

	@media (max-width: 1200px) {
		&__head {
			display: block;

			&-photo {
				max-width: 470px;
			}

			&-desc {
				padding-left: 0;
				height: auto;
			}

			&-advantages {
				max-width: 470px;
			}

			&-icon-text {
				right: auto;
				left: 0;
			}

			&-text {
				height: auto;
			}
		}
	}

	@media (max-width: 1100px) {
		&__colors-item {
			width: 33.33%;
		}
	}

	@media (max-width: 1000px) {
		&__ceil {
			width: 33.33%;

			&:nth-child(3n) {
				border-right: 1px solid #000;
			}
		}
	}

	@media (max-width: 750px) {
		/*&__ceil {
			width: 33.33%;
		}*/

		&__inner-table {
			width: 100%;
		}

		&__elem-item {
			width: 49%;
		}
	}

	@media (max-width: 650px) {
		&__ceil {
			width: 50%;

			&:nth-child(3n) {
				border-right: none;
			}

			&:nth-child(2n) {
				border-right: 1px solid #000;
			}
		}

		&__tabs {
			&-title {
				line-height: 30px;
				font-size: 10px;
			}
		}

		&__colors-item {
			width: 50%;
		}

		&__install-row {
			display: block;
		}

		&__install-image {
			border-right: none;
		}

		&__projects-items {
			display: block;
			margin-bottom: 54px;
		}

		&__projects-item {
			margin-right: 0;
			width: 100%;
			margin-bottom: 20px;
		}
	}

	@media (max-width: 600px) {
		&__vodostok-head {
			display: none;
		}

		&__vodostok-row {
			display: block;

			&:last-child > div:first-child {
				border-bottom: 1px solid #000;
			}
		}

		&__vodostok-ceil:first-child {
			border-right: none;
		}

		&__vodostok-ceil:last-child {
			padding-left: 0;
		}
	}

	@media (max-width: 550px) {
		&__komplekt-controls {
			padding-top: 11%;
		}

		&__head-icons {
			position: relative;
		}

		&__head-icon {
			position: static;
		}

		&__head-icon-text {
			left: 0;
			right: 0;
		}
	}

	@media (max-width: 450px) {
		&__head-photos-item {
			width: 49%;
			margin-right: 2%;

			&:nth-child(even) {
				margin-right: 0;
			}
		}

		&__head-advantages {
			display: block;
		}

		&__colors-item {
			width: 100%;
		}

		&__elem-item {
			width: 100%;
			margin-right: 0;
		}
	}

	@media (max-width: 430px) {
		&__komplekt-controls {
			padding-top: 22%;
		}
	}

	@media (max-width: 400px) {
		&__ceil {
			width: 100%;
			border-right: 1px solid #000;

			&:nth-child(3n),
			&:nth-child(2n) {
				border-right: 1px solid #000;
			}
		}
	}
}

.cert {
	display: flex;
	flex-wrap: wrap;

	&__item {
		width: 170px;
		margin-right: 30px;
		margin-bottom: 40px;

		&:nth-child(4n) {
			margin-right: 0;
		}
	}

	&__item-image {
		border: 1px solid #999;
		padding: 8px;

		& > img {
			cursor: pointer;
		}
	}

	&__item-title {
		margin-top: 35px;

	}
}

.prof-table {
	&__head {
		display: flex;
		justify-content: space-between;
	}

	&__head-cell {
		color: #fff;
		background-color: #000;
		line-height: 33px;
		text-align: center;

		&_common {
			width: 31%;
		}

		&_draw {
			width: 34.5%;
		}

		&_width {
			width: 16.1%;
		}

		&_length {
			width: 13.8%;
		}
	}

	&__row-title {
		font-size: 14px;
		font-weight: 500;
		line-height: 19px;
		margin: 18px 0;
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__row-cell {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #EBEBEB;

		&_common {
			width: 31%;
		}

		&_draw {
			width: 34.5%;
		}

		&_width {
			width: 16.1%;
		}

		&_length {
			width: 13.8%;
		}
	}

	@media (max-width: 700px) {
		&__head {
			display: none;
		}

		&__row {
			flex-wrap: wrap;
		}

		&__row-cell {
			width: 100%;

			&_width,
			&_length {
				padding: 20px 0;
			}
		}
	}
}

.adaptive-menu {
	list-style-type: none;

	a {
		font-size: 16px;
		color: #000;
		text-decoration: none;
		text-transform: uppercase;
		font-family: Pragmatica Book;
		font-weight: 500;
	}

	&__cont {
		//display: none;
		background-color: #fff;
		position: fixed;
		top: 0;
		left: -250px;
		overflow: auto;
		z-index: 2;
		padding: 0 25px;
		width: 250px;
		transform: translateZ(0);

		&_show {
			left: 0;
		}

		ul {
			list-style-type: none;
			padding-left: 0;
		}
	}

	& li {
		margin: 10px 0;
	}

	& > li > a {
		&:before {
			content: '';
			width: 6px;
			height: 6px;
			border-color: #000;
			border-style: solid;
			border-width: 2px 2px 0 0;
			display: inline-block;
			transform: rotate(45deg);
			vertical-align: middle;
			margin-right: .5em;
			opacity: 0;
		}

		&.show:before {
			transform: rotate(135deg);
		}
	}

	& > .menu-item-has-children > a:before {
		opacity: 1;
	}

	.sub-menu {
		display: none;
	}

	.sub-menu a {
		font-weight: normal;
		text-transform: none;
	}

	.sub-menu .current-menu-item a {
		color: #f00;
	}
}

.to-top {
	position: fixed;
	left: 0;
	bottom: 30px;
	border: none;
	width: 51px;
	height: 51px;
	cursor: pointer;
	background: url(imgs/to-top.png) no-repeat 50% 50%;
	display: none;

	@media (max-width: 767px) {
		&_show {
			display: block;
		}
	}

}

.popup {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateZ(0);
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 10;

	&_show {
		display: flex;
	}

	&__close {
		position: absolute;
		top: 50px;
		right: 50px;
		border: none;
		padding: 0;
		background-color: transparent;
		color: #fff;
		font-size: 36px;
		cursor: pointer;
		z-index: 1;
	}

	&__inner {
		position: absolute;
		top: 20px;
		right: 20px;
		bottom: 20px;
		left: 20px;
		display: flex;
	}

	&__img {
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
		margin: auto;
	}
}

.search {
	width: 100%;
	padding-bottom: 100px;

	&__header {
		font-size: 18px;
		font-family: Pragmatica Book;
		color: #000;
		text-transform: uppercase;
		font-weight: normal;
		padding: 85px 0 45px;

		&-value {
			color: #f00;
		}
	}

	&__form {
		background-color: #EBEBEB;
		display: block;
		padding: 35px 100px 32px;

		&-header {
			font-size: 14px;
			font-family: Pragmatica Book;
			color: #666;
			margin-bottom: 20px;
		}

		&-row {
			display: flex;
		}

		&-input {
			border: 2px solid #666;
			padding: 0 15px;
			line-height: 38px;
			color: #666;
			font-size: 14px;
			font-family: Pragmatica Book;
			width: 100%;
			outline: none;
		}

		&-button {
			border: none;
			background-color: #f00;
			color: #fff;
			font-size: 16px;
			font-family: Pragmatica Book;
			text-transform: uppercase;
			width: 247px;
			margin-left: 23px;
			flex-shrink: 0;
			padding: 0;
			cursor: pointer;
			height: 40px;
			max-width: 100%;

			&:hover {
				background-color: #666;
			}

			& > span {
				&:before,
				&:after {
					content: '';
					display: inline-block;
					vertical-align: top;
					width: 18px;
					height: 18px;
				}

				&:before {
					background: url(imgs/search-white.png) no-repeat 50% 50%;
					margin-right: 10px;
					position: relative;
					bottom: -2px;
				}

				&:after {
					margin-left: 10px;
				}
			}
		}
	}

	&__result {
		&-count {
			padding: 55px 0 30px;
			font-size: 14px;
			font-family: Pragmatica Book;
			color: #000;
			border-bottom: 2px solid #666;

			& > span {
				color: #f00;
			}
		}
	}

	&__item {
		font-family: Pragmatica Book;
		margin: 23px 0;

		&-header {
			font-size: 18px;
			line-height: 25px;
		}

		&-content {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			color: #f00;
			font-size: 16px;
			line-height: 22px;
		}

		&-link {
			color: #000;
			text-decoration: none;
			font-size: 16px;
			line-height: 22px;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__empty {
		font-size: 16px;
		font-family: Pragmatica Book;
		color: #f00;
		margin-top: 25px;
	}

	@media (max-width: 1000px) {
		&__form {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	@media (max-width: 800px) {
		&__form-row {
			display: block;
		}

		&__form-button {
			margin-left: 0;
			margin-top: 20px;
		}
	}
}

#price {
	display: none;
}